@model estudiante_curso.Domain.Course

<h2>Delete Course</h2>

<div>
    <p>Are you sure you want to delete this course?</p>
    <p><strong>Name:</strong> @Model.name</p>
    <p><strong>Description:</strong> @Model.description</p>

    <form method="post
